@import "../../layout/styles/standard.scss";

#main-nav {
    
    font-family: $font-secondary;
    font-size: 0.8em;
    text-transform: uppercase;

    div {
        text-align: center;
    }

    div:hover {
        color: $dark-quaternary;
    }

    ul {
        list-style: none;
        color: $light-secondary;
        text-transform: capitalize;
        width: 100%;
        padding: 0;
        margin-top: 1.3em;
        background-color: $dark-primary;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        
        li {
            padding: 0.25em 1em 0.25em 1em;
        }

        li:hover {
            background-color: $dark-secondary;
            color: $light-primary;
        }
    }
}