@import "../../layout/styles/standard.scss";

#main-nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    div {
        text-align: center;
    }

    div:hover {
        color: $sidebar-highlight-color-text;
    }

    ul {
        list-style: none;
        width: 100%;
        padding: 0;
        background-color: $sidebar-sec-color;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        
        li {
            border-left: solid 0.2em $sidebar-sec-color;
            padding: 0.25em 1em 0.25em 1em;
        }

        li:hover {
            color: $sidebar-highlight-color-text;
        }
    }
}

aside {
    background-color: $sidebar-prim-color;
    color: #798593;
}