@import "../shared/layout/styles/standard.scss";

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    background: $light-primary; 
}
 
::-webkit-scrollbar-thumb {
    background: $light-quaternary; 
}

.defaults {
    font-family: $font-primary
}

aside {
    padding: 1em;
    margin: 1em 0 1em 0;
    border-top: 1px solid $light-secondary;
    border-bottom: 1px solid $light-secondary;
}