/**
    This stylesheet is to establish the stardard style variables to be used on this site.
**/

/* COLORS */

//Dark colors
$dark-primary: #af9f7b;
$dark-secondary: #dac390;
$dark-tertiary: #848484;
$dark-quaternary: #363d41;

//Light colors
$light-primary: #FFF;
$light-secondary: #ebebeb;
$light-tertiary: #dac390;
$light-quaternary: #636e74;

/* SIZES */

$title-large: 2em;
$title-medium: 1.5em;
$title-small: 1.1em;

$standard: 1em;

/* FONT FAMILIES */
$font-primary: 'Roboto', sans-serif; //Default font
$font-secondary: 'Raleway', sans-serif; //Menu
$font-tertiary: "Montserrat script=all rev=1", sans-serif; //Bolder font