<div class="main_links-background row">
  <div id="frame-main" class="col frame">
    <h1>Art Gallery</h1>
    <div>
      <div>
        <svg height="5em" width="25px">
          <line x1="0" y1="0" x2="0" y2="100%" />
        </svg>
      </div>

      <h3>showcasing the best works</h3>
      <h2>of my art</h2>
    </div>
    <div class="button">See My Work</div>
  </div>
  <div id="frames-other" class="col">
    <div id="frame-divider">
      <svg height="100%" width="100%">
        <line x1="250" y1="-8" x2="13" y2="102%" />
        <line x1="125" y1="50%" x2="100%" y2="50%" />
      </svg>
    </div>
    <div id="frame-sec" class="h-50 d-inline-block w-100 p-3 frame"><p>Events</p></div>
    <div id="frame-ter" class="h-50 d-inline-block w-100 p-3 frame"><p>Exhibitions</p></div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">small</div>
  <div class="col-md-9">large</div>
</div>